<div class="row">
  <div class="col-xs-12">
    <h1>Events</h1>
    <p>These events are paginated by their date</p>

    <table class="table table-striped">

      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>date</th>
        </tr>
      </thead>
      <tbody>
        <% for event in @events %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.name %></td>
            <td><%= event.starts_at.to_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @events %>
  </div>
</div>
